 body {
  min-height: 100vh;     /* poori screen ki height */
  display: flex;
  flex-direction: column;
}

 .navbar{
    height: 5rem;
    background-color: white;
 }
 .fa-compass{
    font-size: 2rem;
    color: #fe424d;
 }

 .nav-link{
    color: #222222 !important;
 }
 /*footer*/
 .footer-info-links a{
    text-decoration: none;
    color : #222222
 }
  .footer-info-links a:hover{
    text-decoration: underline;
  }
  .footer-info-links,.footer-info-social,.f-info-brands{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.footer-info-social i{
    margin-right: 1.5rem;
     font-size: 1.3rem;
     
}

  .footer-info{
    text-align: center;
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    justify-content: center;
    align-items: space-evenly;
    flex-wrap: wrap;
  }
  /* cards */
  .listning-card{
border: none !important;
margin-top: 2rem;
  }
  .card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;

  }
  .card-body{
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
  .listing-link{
    text-decoration: none;
  }
  .card-img-overlay{
    opacity: 0;
  }
  .card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
  }
  .add-btn{
     background-color:  #fe424d !important;
     border: none !important;
  }
  .editbtn{
    background-color:  #fe424d !important;
     border: none !important;
  }
 
  .show-img{
    height: 40vh;
  }
  .btns{
    display: flex;
  }
  .show-card{
    padding-left: 0;
    padding-right: 0;
  }
  
  body {
  min-height: 100vh;     /* poori screen ki height */
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;      /* ye footer ko neeche dhakel dega */
  background: #f1f1f1;
  padding: 10px;
  text-align: center;
}